name: CPLn-Auto-Generator

on: [push] # あなたがコードを更新するたびに動きます

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install MSYS2 and Libraries
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-SDL2
            mingw-w64-x86_64-SDL2_ttf
            mingw-w64-x86_64-python

      - name: Compile
        shell: msys2 {0}
        run: |
          gcc maincpln.c -o CPLn.exe \
          $(pkg-config --cflags --libs sdl2 SDL2_ttf python3) \
          -lws2_32

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: CPLn-Final-EXE
          path: CPLn.exe
