
name: CPLn-Build

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      # --- ここから追加 ---
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' # 使うバージョンを指定

      - name: Install Dependencies
        shell: msys2 {0}
        run: |
          # Python開発用パッケージとpkg-configを確実にインストール
          pacman -S --noconfirm mingw-w64-x86_64-python mingw-w64-x86_64-pkg-config
          pacman -S --noconfirm mingw-w64-x86_64-sdl2 mingw-w64-x86_64-sdl


      - name: Compile
        shell: msys2 {0}
        run: |
          # 名前を「PY_FLAGS」に統一する
          PY_FLAGS=$(pkg-config --cflags --libs python3)
          SDL_FLAGS=$(pkg-config --cflags --libs sdl2 SDL2_ttf)
          
          # $PY_FLAGS は消して、あなたが作った変数を並べる
          gcc *.c -o CPLn.exe $PY_CFLAGS $PY_LIBS $SDL_FLAGS -lws2_32


