
name: CPLn-Build

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      # --- ここから追加 ---
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' # 使うバージョンを指定

      - name: Install Dependencies
        shell: msys2 {0}
        run: |
          # Python開発用パッケージとpkg-configを確実にインストール
          pacman -S --noconfirm mingw-w64-x86_64-python mingw-w64-x86_64-pkg-config
          pacman -S --noconfirm mingw-w64-x86_64-sdl2 mingw-w64-x86_64-sdl


      - name: Compile
        shell: msys2 {0}
        run: |
          # 1. Pythonの「設計図(include)」と「本体(libs)」の場所を取得
          PY_CFLAGS=$(pkg-config --cflags python3)
          PY_LIBS=$(pkg-config --libs python3)

          # 2. SDL2の「設計図」と「本体」の場所を取得
          SDL_CFLAGS=$(pkg-config --cflags sdl2 SDL2_ttf)
          SDL_LIBS=$(pkg-config --libs sdl2 SDL2_ttf)

          # 3. あなたが定義したこれら「4つの道具」を全部並べてコンパイル
          gcc *.c -o CPLn.exe $PY_CFLAGS $PY_LIBS $SDL_CFLAGS $SDL_LIBS -lws2_32



