name: CPLn-Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-dev libsdl2-dev libsdl2-ttf-dev pkg-config

      - name: Compile
        run: |
          # 道具（includeとlib）の場所をpkg-configに一発で探させる
          INC_LIB=$(pkg-config --cflags --libs python3 sdl2 SDL2_ttf)
          
          # 実行！
          gcc *.c -o CPLn $INC_LIB -lm
